:root {
    /*## Colors*/

/*### Primary*/

--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

/*### Neutral*/

--Transparent-white /*(paragraphs)*/: hsla(0, 0%, 100%, 0.75);
--Very-light-gray /*(background, headings, buttons)*/: hsl(0, 0%, 95%);

}
@media screen {
    html {
        font-size: 15px;
        font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lexend Deca', sans-serif;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: var(--Very-light-gray);
    }
    .container {
        display: flex;
        flex-direction: row;
    }

    .sedans-card {
        border-radius: 1rem 0 0 1rem;
    }
    .luxury-card{
        border-radius: 0 1rem 1rem 0;
    }

    .button-sedans {
        cursor: pointer;
        color: var(--Bright-orange);
        font-size: 1rem;
        text-align: center;
        margin-top: 6rem;
        background-color: var(--Very-light-gray);
        border: 1px solid var(--Transparent-white);
        padding: 1rem;
        width: 10rem;
        border-radius: 5rem;
    }
    .button-suvs {
        cursor: pointer;
        color: var(--Dark-cyan);
        font-size: 1rem;
        text-align: center;
        margin-top: 6rem;
        background-color: var(--Very-light-gray);
        border: 1px solid var(--Transparent-white);
        padding: 1rem;
        width: 10rem;
        border-radius: 5rem;
    }
    .button-luxury {
        cursor: pointer;
        color: var(--Very-dark-cyan);
        font-size: 1rem;
        text-align: center;
        margin-top: 6rem;
        background-color: var(--Very-light-gray);
        border: 1px solid var(--Transparent-white);
        padding: 1rem;
        width: 10rem;
        border-radius: 5rem;
    }
    .button-sedans:hover {
        background: transparent;
        border: 0.2rem solid var(--Transparent-white);
        color: var(--Transparent-white);
    }
    .button-suvs:hover {
        background: transparent;
        border: 0.2rem solid var(--Transparent-white);
        color: var(--Transparent-white);
    }
    .button-luxury:hover {
        background: transparent;
        border: 0.2rem solid var(--Transparent-white);
        color: var(--Transparent-white);
    }
    
}

@media (max-width: 375px) {
    html {
        font-size: 15px;
        font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lexend Deca', sans-serif;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: var(--Very-light-gray);
    }
    .container {
        display: flex;
        flex-direction: column;
    }
  
    .sedans-card {
        border-radius: 1rem 1rem 0 0;
    }
    .luxury-card{
        border-radius: 0 0 1rem 1rem;
    }
    
    .button-sedans {
        color: var(--Bright-orange);
        text-align: center;
        margin-top: 1rem;
        background-color: var(--Very-light-gray);
        border: 1px solid var(--Transparent-white);
        padding: 1rem;
        width: 10rem;
        border-radius: 5rem;
    }
    .button-suvs {
        color: var(--Dark-cyan);
        text-align: center;
        margin-top: 1rem;
        background-color: var(--Very-light-gray);
        border: 1px solid var(--Transparent-white);
        padding: 1rem;
        width: 10rem;
        border-radius: 5rem;
    }
    .button-luxury {
        color: var(--Very-dark-cyan);
        text-align: center;
        margin-top: 1rem;
        background-color: var(--Very-light-gray);
        border: 1px solid var(--Transparent-white);
        padding: 1rem;
        width: 10rem;
        border-radius: 5rem;
    }
    .button-sedans:hover {
        background: transparent;
        border: 0.2rem solid var(--Transparent-white);
        color: var(--Transparent-white);
    }
    .button-suvs:hover {
        background: transparent;
        border: 0.2rem solid var(--Transparent-white);
        color: var(--Transparent-white);
    }
    .button-luxury:hover {
        background: transparent;
        border: 0.2rem solid var(--Transparent-white);
        color: var(--Transparent-white);
    }

}

.sedans-card {
    background-color: var(--Bright-orange);
    padding: 3rem;
}
.suvs-card {
    background-color: var(--Dark-cyan);
    padding: 3rem;
}
.luxury-card {
    background-color: var(--Very-dark-cyan);
    padding: 3rem;
}

.sedans-title {
    color: var(--Very-light-gray);
    font-size: 2rem;
}
.suvs-title {
    color: var(--Very-light-gray);
    font-size: 2rem;
}
.luxury-title {
    color: var(--Very-light-gray);
    font-size: 2rem;
}

.sedans-text {
    color: var(--Transparent-white);
    line-height: 1.5rem;
    font-size: 1rem;
}
.suvs-text {
    color: var(--Transparent-white);
    line-height: 1.5rem;
    font-size: 1rem;
}
.luxury-text {
    color: var(--Transparent-white);
    line-height: 1.5rem;
    font-size: 1rem;
}